@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  /* padding: 0 40px; */
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
}

.button-secondary {
  background-color: #756257;
}

/* Шапка сайта */
.main-navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.logo-link {
  margin-right: 30px;
}

.site-navigation {
  max-width: 597px;
}

.user-navigation {
  margin-left: auto;
}

/* HERO */

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  background-color: #abd6ef;
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.hero-image {
  vertical-align: middle;
}

/* Преимущества */

.features {
  padding-top: 63px;
  text-align: center;
}

.features-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-description {
  margin: 0;
  margin-bottom: 80px;
  line-height: 36px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item h3,
.features-item h4 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-sublist {
  color: #333333;
  background-color: #ffffff;
}

.features-sublist h4 {
  color: #000000;
}

.features-item:not(.features-item-large) p {
  color: #333333;
}

.features-item-large {
  color: #ffffff;
  background-color: #83b3d3;
}

.features-sublist .features-item:nth-child(even) {
  background-color: #ffffff;
}

/* Бронирование */
.booking {
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
}

.booking-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.booking-description {
  margin: 0;
  margin-bottom: 56px;
  font-size: 20px;
  color: #333333;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
}

/* Подписка */

.subscribe {
  padding: 94px 0;
  text-align: center;
}

.index-page .subscribe {
  color: #ffffff;
  background-color: #abd6ef;
  background-image: url("../images/index-subsrcibe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-input {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.subscribe-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  font-size: 20px;
  line-height: 26px;
}

/* Внутренняя страница. Шапка основного содежимого */
.main-header {
  background-color: #abd6ef;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.page-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.range-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
}

.range-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.range-title {
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button-reset {
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  background-color: transparent;
  border: none;
}

/* Каталог */

.filter-result {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-control {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-header {
  color: inherit;
  text-decoration: none;
}

.product-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.product-info {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-rating {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.in-favorites {
  background-color: #7db54f;
}

/* Пагинация */
.load-more {
  font-size: 20px;
  line-height: 26px;
}

.pagination-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #83b3d3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-select select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

/* Подписка на внутренней странице */
.inner-page .subscribe-description {
  color: #333333;
}

/* Футер */
.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex; */
  /* justify-content: space-between; */
  width: 1056px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

/* .social-list {
 max-width: 210px;
 } */


.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
