@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  /* padding: 0 40px; */
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: block;
  padding: 8px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
  background-color: #615048;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}


/* Шапка сайта */
.main-navigation {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  content: "";
  background-color: #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:hover path {
  fill: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .button-counter {
  color: rgba(255, 255, 255, 0.3);
}

.logo-link {
  position: relative;
  z-index: 1;
  display: block;
  margin-right: 30px;
  margin-bottom: -5px;
}

.logo-link[href]:hover {
  opacity: 0.6;
}

.logo-link[href]:focus-visible {
  outline: 2px solid #756257;
}

.logo-link[href]:active {
  opacity: 0.3;
}

.logo {
  display: block;
}

.site-navigation {
  max-width: 597px;
}

.user-navigation {
  margin-left: auto;
}

.user-navigation .navigation-link {
  width: 42px;
  height: 65px;
  box-sizing: border-box;
}

.user-navigation .favourite {
  width: 44px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button-counter {
  position: absolute;
  top: 15px;
  left: 24px;
  display: block;
  min-width: 12px;
  height: 20px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  border-radius: 50%;
}

.user-navigation-button {
  min-width: 130px;
  margin-left: 20px;
}

/* HERO */

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  background-color: #abd6ef;
  background-image: url("../images/hero-divider.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100.05%, bottom;
  background-size: 100% auto, cover;
}

.hero-image {
  vertical-align: middle;
}

/* Преимущества */

.features {
  padding-top: 63px;
  text-align: center;
}

.features-title {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-description {
  margin: 0;
  margin-bottom: 80px;
  line-height: 36px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: features 0;
}

.features-item h3,
.features-item h4 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-item h3 {
  order: -1;
  /* margin-bottom: 30px; */
}

.features-item h4 {
  margin-bottom: 20px;
}

.features-item p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.features-item {
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: features 1;
}

.features-sublist {
  grid-column: 1 / -1;
  color: #333333;
  background-color: #ffffff;
}

.features-sublist h4 {
  color: #000000;
}

.features-sublist .features-item {
  padding: 184px 75px 79px;
  min-height: 384px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: left 50% top 90px;
}

.features-hotels {
  background-image: url("../images/subfeatures-hotels.svg");
}

.features-food {
  background-image: url("../images/subfeatures-food.svg");
}

.features-souveniers {
  background-image: url("../images/subfeatures-souveniers.svg");
}

.features-item:not(.features-item-large) p {
  color: #333333;
}

.features-item-large {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column: 1 / -1;
  /* grid-row: 1 / 2; */
  padding: 0;
  color: #ffffff;
  background-color: #83b3d3;
}

.features-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 384px;
  padding: 97px 75px 80px;
  box-sizing: border-box;
  /* grid-column: 1 / 2; */
}

.features-content::before {
  content: "— №" counter(features) "—";
}

.features-item-large img {
  grid-column: span 2;
}

.features-item-large:nth-child(2) img {
  order: -1;
}


.features-item:not(.features-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-sublist .features-item:nth-child(even) {
  background-color: #ffffff;
}

/* Бронирование */
.booking {
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
}

.booking-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.booking-description {
  margin: 0;
  margin-bottom: 56px;
  font-size: 20px;
  color: #333333;
}

.booking-button {
  min-width: 340px;
  width: fit-content;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

/* Подписка */

.subscribe {
  text-align: center;
}

.index-page .subscribe {
  padding: 94px 0;
  color: #ffffff;
  background-color: #abd6ef;
  background-image: url("../images/index-subsrcibe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.subscribe-input {
  flex-grow: 1;
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-input:hover {
  background-color: #e5e5e5;
}

.subscribe-input:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.input--error {
  outline: 2px solid #ff5757;
  outline-offset: -2px;
}

.subscribe-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  min-width: 200px;
  font-size: 20px;
  line-height: 22px;
  border-radius: 0 4px 4px 0;
}


/* Внутренняя страница. Шапка основного содежимого */
.main-header {
  padding: 35px 72px 83px;
  color: #ffffff;
  background-color: #abd6ef;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  /* display: flex;
  align-items: center; */
  margin-right: 26px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  width: 5px;
  height: 8px;
  background-image: url("../images/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  border-radius: 1px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  width: 22px;
  height: 22px;
  background-image: url("../images/catalog/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: left 0 center;
  margin-right: -10px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 5px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
}

.filter-fieldset {
  width: 190px;
  margin: 0;
  margin-right: 27px;
  padding: 0;
  border: none;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-price {
  width: 287px;
  margin-left: 95px;
}

.filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.range-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
}

.range-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.range-title {
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.filter-buttons {
  align-self: flex-end;
  margin-left: auto;
}

.filter-button {
  min-width: 191px;
  margin-bottom: 20px;
  padding: 16px 15px;
  line-height: 16px;
}

.filter-button:focus-visible {
  outline: 3px solid #ffffff;
  background-color: #68a2ca;
}

.filter-button-reset {
  min-width: 191px;
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-button-reset:hover {
  opacity: 0.6;
}

.filter-button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.filter-button-reset:active {
  opacity: 0.3;
}

/* Каталог */

.catalog {
  padding: 50px 72px 0;
}

.catalog-sort {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.filter-result {
  width: 450px;
  margin: 0;
  margin-right: 79px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting-control {
  width: 287px;
  padding: 12px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/catalog/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 18px right 18px;
  appearance: none;
  outline: none;
}

.sorting-control:hover,
.sorting-control:focus-visible {
  border-color: #83b3d3;
}

.sorting-control:active {
  opacity: 0.3;
}

.show-button-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.show-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.show-button:hover,
.show-button:focus-visible,
.show-button:active {
  border-color: #83b3d3;
}

.tile {
  background-image: url("../images/catalog/mode-tile.svg");
}

.slide {
  background-image: url("../images/catalog/mode-slideshow.svg");
}

.list {
  background-image: url("../images/catalog/mode-list.svg");
}

.show-button-current {
  border-color: #000000;
}

.show-button-item:not(:last-child) {
  margin-right: 8px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 34px;
  list-style-type: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.product-header {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.product-header:hover {
  opacity: 0.6;
}

.product-header:focus-visible .product-img {
  outline: 3px solid #83b3d3;
}

.product-header:active {
  opacity: 0.3;
}

.product-img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.product-title {
  margin: 0;
  /* margin-bottom: 16px; */
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.product-info {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 16px; */
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.living-type {
  width: 133px;
}

.product-price {
  width: 143px;
}

.product-stars {
  width: 115px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.product-rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
  margin-top: 10px;
}

.product-rating {
  display: block;
  width: 120px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-button {
  width: 103px;
}

.product-button-favourites {
  width: 143px;
}

.product-button-favourites:hover,
.product-button-favourites:active {
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.in-favorites {
  background-color: #7db54f;
}

.in-favorites:hover {
  background-color: #6c9e42;
}

.in-favorites:focus-visible {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.in-favorites:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

/* Пагинация */
.load-more {
  width: 620px;
  margin: 0 auto 30px;
  font-size: 20px;
  line-height: 26px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  padding-top: 30px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #83b3d3;
  border-radius: 4px;
  outline: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
}

.pagination-link[href]:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link[href]:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-select-label {
  margin-right: 51px;
}

.pagination-select select {
  width: 160px;
  padding: 12px 17px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/catalog/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
  outline: none;
}

.pagination-select select:hover,
.pagination-select select:focus-visible {
  border-color: #83b3d3;
}

.pagination-select select:active {
  color: rgba(51, 51, 51, 0.3);
}

/* Подписка на внутренней странице */
.inner-page .subscribe {
  margin-bottom: 140px;
}

.inner-page .subscribe-title {
  margin-bottom: 46px;
}

.inner-page .subscribe-description {
  color: #333333;
}

/* Футер */
.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex; */
  /* justify-content: space-between; */
  width: 1056px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.social-link:focus-visible .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill-opacity: 0.3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus-visible {
  color: #756257;
  outline: 3px solid #83b3d3;
  outline-offset: 10px;
}

.footer-phone:active {
  opacity: 0.3;
}

.developer {
  justify-self: end;
  align-self: center;
  border-radius: 10px;
}

.developer-icon {
  fill: #000000;
}

.developer:hover .developer-icon,
.developer:focus-visible .developer-icon {
  fill: #756257;
}

.developer:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 10px;
}

.developer:active .developer-icon {
  fill-opacity: 0.3;
}
