@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.button {
  display: block;
  padding: 8px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #68a2ca;
  cursor: pointer;
}

.button:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
  background-color: #615048;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #615048;
}

/* Шапка сайта */
.main-navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::after {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
  height: 2px;
  content: "";
  background-color: #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:hover path {
  fill: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:active path {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active .button-counter {
  color: rgba(255, 255, 255, 0.3);
}

.logo-link {
  position: relative;
  z-index: 1;
  display: block;
  margin-right: 30px;
  margin-bottom: -5px;
}

.logo-link[href]:hover {
  opacity: 0.6;
}

.logo-link[href]:focus-visible {
  outline: 2px solid #756257;
}

.logo-link[href]:active {
  opacity: 0.3;
}

.logo {
  display: block;
}

.site-navigation {
  max-width: 580px;
}

.user-navigation {
  margin-left: auto;
}

.user-navigation .navigation-link {
  width: 42px;
  height: 65px;
  box-sizing: border-box;
}

.user-navigation .favourite {
  width: 44px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.button-counter {
  position: absolute;
  top: 15px;
  left: 24px;
  display: block;
  min-width: 12px;
  height: 20px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  border-radius: 100vw;
}

.user-navigation-button {
  min-width: 130px;
  margin-left: 20px;
}

/* HERO */

.hero {
  min-height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  background-color: #abd6ef;
  background-image: url("../images/hero-divider.svg"),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100.05%, bottom;
  background-size: 100% auto, cover;
}

.hero-image {
  vertical-align: middle;
}

/* Преимущества */

.features {
  padding-top: 63px;
  text-align: center;
}

.features-title {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.features-description {
  margin: 0;
  margin-bottom: 80px;
  line-height: 36px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: features 0;
}

.features-item h3,
.features-item h4 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.features-item h3 {
  order: -1;
}

.features-item h4 {
  margin-bottom: 20px;
}

.features-item p {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.features-item {
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: features 1;
}

.features-item img {
  max-width: 100%;
  object-fit: cover;
  align-self: center;
}

.features-sublist {
  grid-column: 1 / -1;
  color: #333333;
  background-color: #ffffff;
}

.features-sublist h4 {
  color: #000000;
}

.features-sublist .features-item {
  padding: 184px 75px 79px;
  min-height: 384px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: left 50% top 87px;
}

.features-hotels {
  background-image: url("../images/subfeatures-hotels.svg");
}

.features-food {
  background-image: url("../images/subfeatures-food.svg");
}

.features-souveniers {
  background-image: url("../images/subfeatures-souveniers.svg");
}

.features-item:not(.features-item-large) p {
  color: #333333;
}

.features-item-large {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-column: 1 / -1;
  padding: 0;
  color: #ffffff;
  background-color: #83b3d3;
}

.features-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 384px;
  padding: 97px 75px 80px;
  box-sizing: border-box;
}

.features-content::before {
  content: "— №" counter(features) "—";
  font-size: 18px;
  line-height: 21px;
}

.features-item-large img {
  grid-column: span 2;
}

.features-item-large:nth-child(2) img {
  order: -1;
}


.features-item:not(.features-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-sublist .features-item:nth-child(even) {
  background-color: #ffffff;
}

/* Бронирование */
.booking {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
}

.booking-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking-description {
  margin: 0;
  margin-bottom: 56px;
  color: #333333;
}

.booking-button {
  min-width: 545px;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

/* Подписка */

.subscribe {
  text-align: center;
}

.subscribe-container {
  max-width: 800px;
  margin: 0 auto;
}

.index-page .subscribe {
  padding: 94px 0;
  color: #ffffff;
  background-color: #abd6ef;
  background-image: url("../images/index-subsrcibe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form {
  display: flex;
  width: 800px;
}

.subscribe-input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-input:hover {
  background-color: #e5e5e5;
}

.subscribe-input:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.subscribe-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.input--error {
  outline: 2px solid #ff5757;
  outline-offset: -2px;
}

.subscribe-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  min-width: 200px;
  max-width: 300px;
  padding: 17px 15px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 4px 4px 0;
}

/* Внутренняя страница. Шапка основного содежимого */
.main-header {
  padding: 43px 72px 84px;
  color: #ffffff;
  background-color: #abd6ef;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-title {
  margin: 0;
  margin-bottom: 2px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 26px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  width: 5px;
  height: 8px;
  background-image: url("../images/catalog/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  border-radius: 1px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  width: 22px;
  height: 22px;
  background-image: url("../images/catalog/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: left 0 center;
  margin-right: -10px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 2px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.filter-form {
  display: flex;
}

.filter-fieldset {
  width: 190px;
  margin: 0;
  margin-right: 27px;
  padding: 0;
  border: none;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.filter-price {
  width: 287px;
  margin-left: 95px;
}

.filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-price .filter-title {
  margin-bottom: 35px;
}

.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  margin-right: 20px;
  outline: none;
}

.control-input::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked::before {
  background-image: url("../images/catalog/checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]::before {
  border-radius: 50%;
}

.control-input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus::before {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control:has(.control-input:disabled) {
  opacity: 0.1;
  cursor: default;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 25px;
}

.range-label {
  display: flex;
  justify-content: space-between;
  width: 143px;
  padding: 12px 12px 12px 16px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.range-label:first-child {
  border-radius: 4px 0 0 4px;
}

.range-label:last-child {
  border-left: 2px solid transparent;
  border-radius: 0 4px 4px 0;
}

.range-label:hover:not(:focus-within) {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-label:last-child:hover {
  border-left: 2px solid rgba(255, 255, 255, 0.6);
}

.range-label:focus-within:not(:active) {
  box-shadow: inset 0 0 0 3px #81b3d2,
    0 0 0 3px #81b3d2;
  z-index: 1;
}

.range-label:last-child:focus-within {
  border-left: 2px solid #ffffff;
}

.range-label:active {
  background-color: #756257;
  border-color: #ffffff;
}

.range-label:has(.range-input:disabled) {
  opacity: 0.1;
  cursor: default;
}

.range-input {
  max-width: 85px;
  padding: 0;
  padding-right: 12px;
  flex-grow: 1;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.range-title {
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 #000000;
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.range-toggle:disabled {
  background-color: #cbcbcb;
  pointer-events: none;
}

.filter-buttons {
  align-self: flex-end;
  margin-left: auto;
}

.filter-button {
  min-width: 160px;
  margin-bottom: 18px;
  padding: 16px 15px;
  line-height: 16px;
}

.filter-button:focus-visible {
  outline: 3px solid #ffffff;
  background-color: #68a2ca;
}

.filter-button-reset {
  display: block;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 160px;
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-button-reset:hover {
  opacity: 0.6;
}

.filter-button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.filter-button-reset:active {
  opacity: 0.3;
}

.filter-button-reset:disabled {
  opacity: 0.1;
  cursor: default;
}

/* Каталог */

.catalog {
  margin-bottom: 65px;
  padding: 42px 72px 0;
}

.catalog-sort {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.filter-result {
  width: 450px;
  margin: 0;
  margin-right: 79px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.sorting {
  margin-right: 10px;
}

.sorting-control {
  width: 287px;
  padding: 12px 35px 14px 17px;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: transparent;
  background-image: url("../images/catalog/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 18px right 18px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.sorting-control:hover,
.sorting-control:focus-visible {
  border-color: #83b3d3;
}

.sorting-control:active {
  opacity: 0.3;
}

.sorting-control:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.show-button-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.show-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.show-button:hover,
.show-button:focus-visible,
.show-button:active {
  border-color: #83b3d3;
}

.tile {
  background-image: url("../images/catalog/mode-tile.svg");
}

.slide {
  background-image: url("../images/catalog/mode-slideshow.svg");
}

.list {
  background-image: url("../images/catalog/mode-list.svg");
}

.show-button-current {
  border-color: #000000;
}

.show-button-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
  list-style-type: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.product-header {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.product-header:hover {
  opacity: 0.6;
}

.product-header:focus-visible .product-img {
  outline: 3px solid #83b3d3;
}

.product-header:active {
  opacity: 0.3;
}

.product-img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.product-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.living-type {
  width: 133px;
}

.product-price {
  width: 143px;
}

.product-stars {
  height: 17px;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space;
  background-size: 18px 17px;
}

.product-star--one {
  width: 18px;
}

.product-star--two {
  width: 42px;
}

.product-star--three {
  width: 66px;
}

.product-star--four {
  width: 89px;
}

.product-star--five {
  width: 107px;
}

.product-rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
}

.product-rating {
  display: block;
  width: 120px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-button {
  width: 103px;
}

.product-button-favourites {
  width: 141px;
}

.product-button-favourites:hover,
.product-button-favourites:active {
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.in-favorites {
  background-color: #7db54f;
  width: 141px;
}

.in-favorites:hover {
  background-color: #6c9e42;
}

.in-favorites:focus-visible {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.in-favorites:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.3);
}

/* Пагинация */
.load-more {
  width: 620px;
  margin: 0 auto 30px;
  padding: 17px 15px;
  font-size: 20px;
  line-height: 26px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  min-height: 55px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  background-color: #83b3d3;
  border-radius: 4px;
  outline: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link[href]:hover {
  background-color: #68a2ca;
}

.pagination-link[href]:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link[href]:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-select-label {
  margin-right: 48px;
}

.pagination-select select {
  width: 160px;
  padding: 12px 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../images/catalog/sorting-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 20px right 20px;
  outline: none;
}

.pagination-select select:hover,
.pagination-select select:focus-visible {
  border-color: #83b3d3;
}

.pagination-select select:active {
  color: rgba(51, 51, 51, 0.3);
}

.pagination-select select:disabled {
  opacity: 0.1;
  pointer-events: none;
}

/* Подписка на внутренней странице */
.inner-page .subscribe {
  margin-bottom: 140px;
}

.inner-page .subscribe-title {
  margin-bottom: 46px;
}

.inner-page .subscribe-description {
  color: #333333;
}

/* Футер */
.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 1056px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  list-style-type: none;
}

.social-item:not(:last-child) {
  margin-right: 3px;
}

.social-item {
  margin-bottom: 3px;
}

.social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.social-link:focus-visible .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill-opacity: 0.3;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus-visible {
  color: #756257;
  outline: 3px solid #83b3d3;
  outline-offset: 10px;
}

.footer-phone:active {
  opacity: 0.3;
}

.developer {
  justify-self: end;
  align-self: center;
  border-radius: 10px;
}

.developer-icon {
  fill: #000000;
}

.developer:hover .developer-icon,
.developer:focus-visible .developer-icon {
  fill: #756257;
}

.developer:focus-visible {
  outline: 3px solid #83b3d3;
  outline-offset: 10px;
}

.developer:active .developer-icon {
  fill-opacity: 0.3;
}

/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-booking {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.modal-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus-visible {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e5e5e5;
}

.modal-close-button:active::before,
.modal-close-button:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 54px;
  padding-right: 65px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.booking-form {
  display: grid;
  grid-template-columns: 50% 50%;
}

.field-group:first-child,
.field-group:nth-child(2) {
  grid-column: 1 / -1;
}

.field-group {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 15px;
  align-items: center;
}

.booking-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.booking-input {
  padding: 3px 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
}

.booking-input-date {
  background-image: url("../images/modal/form-calendar.svg");
  background-repeat: no-repeat;
  background-position: top 18px right 18px;
}

.booking-input:hover {
  background-color: #e5e5e5;
}

.booking-input:focus-visible:not(:active) {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.booking-input:active {
  background-color: #ffffff;
  border-color: #000000;
}

.booking-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.field-message {
  grid-column: 2 / 3;
  margin-bottom: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
}

.field-message-error {
  color: #ff5757;
}

.booking-input-quantity-wrapper {
  display: flex;
  width: 133px;
}

.booking-input-adult,
.booking-input-child {
  width: 45px;
  padding: 5px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0;
  z-index: 1;
}

.booking-input-adult::-webkit-outer-spin-button,
.booking-input-adult::-webkit-inner-spin-button,
.booking-input-child::-webkit-outer-spin-button,
.booking-input-child::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.booking-decrease-button,
.booking-increase-button {
  width: 44px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  cursor: pointer;
}

.booking-decrease-button {
  border-radius: 4px 0 0 4px;
}

.booking-increase-button {
  border-radius: 0 4px 4px 0;
}

.booking-decrease-button::before,
.booking-increase-button::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  opacity: 0.3;
}

.booking-decrease-button::before {
  background-image: url("../images/modal/form-minus.svg");
}

.booking-increase-button::before {
  background-image: url("../images/modal/form-plus.svg");
}

.booking-decrease-button:hover::before,
.booking-increase-button:hover::before {
  opacity: 1;
}

.booking-decrease-button:focus:not(:active)::before,
.booking-increase-button:focus:not(:active)::before {
  outline: 3px solid #83b3d3;
  opacity: 1;
}

.booking-decrease-button:active::before,
.booking-increase-button:active::before {
  opacity: 0.2;
}

.booking-label-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.booking-form-button {
  grid-column: 1 / -1;
  margin-top: 40px;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 40px;
  border-radius: 10px;
}

.booking-tooltip {
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  background-color: #83b3d3;
  background-image: url("../images/modal/tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  outline: none;
  border: none;
}

.booking-tooltip:hover,
.booking-tooltip:focus {
  background-color: #68a2ca;
}

.booking-tooltip-text {
  position: absolute;
  width: 256px;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  padding: 15px 18px 18px 22px;
  display: none;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 #000000;
  box-sizing: border-box;
  z-index: 2;
}

.booking-tooltip-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: calc(50% - 9px);
  width: 19px;
  height: 9px;
  background-image: url("../images/modal/tooltip-triangle.svg");
  background-repeat: no-repeat;
}

.booking-tooltip:hover .booking-tooltip-text,
.booking-tooltip:focus .booking-tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}
